<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="ui-g-12">
    <div class="ui-g-10">
      <app-header></app-header>
    </div>
    <div class="ui-g-2">
      <app-login></app-login>
      <app-login-modal></app-login-modal>
      <app-sign-up-modal></app-sign-up-modal>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-10">
      <router-outlet></router-outlet>
    </div>
    <div class="ui-g-2 right-align">
      <app-right-sidebar></app-right-sidebar>
    </div>
  </div>
</div>

