<p-dialog
  [(visible)]="this.showLoginModal"
  modal="modal"
  width="600"
  height="300"
  [showHeader]="true"
  [responsive]="true"
  [closeOnEscape]="false"
  [closable]="true"
  [resizable]="false"
  [draggable]="true"
  (onHide)="closeModal()"
>

  <h3 class="header-margin">Welcome! Log in to your account.</h3>

  <div class="ui-g-6">
<!--    <p class="text-margin login-align">Login via Facebook</p>-->
    <div *ngIf="!givenName" class="login-align">
      <a (click)="submitLogin()">
        <img class="facebook-icon" src="../../assets/LoginWithFacebook.png" alt="Facebook">
      </a>
    </div>
  </div>

<!--  logIn onClick logic -->
  <!--(ngSubmit)="onSubmit()"-->
  <form [formGroup]="loginForm">
  <div class="ui-g-6">
    <div class="ui-g-12">
      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText formControlName="username">
        <label for="float-input">Username</label>
      </span>
      <div *ngIf="loginForm.controls['username'].errors?.required && (loginForm.controls['username'].dirty
      || loginForm.controls['username'].touched)">
        <label for="float-input">Username is required.</label>
      </div>
    </div>
    
    <div class="ui-g-12">
    <span class="ui-float-label">
      <input id="float-input" type="password" size="30" pInputText formControlName="password">
      <label for="float-input">Password</label>
    </span>
      <div *ngIf="loginForm.controls['password'].errors?.required && (loginForm.controls['password'].dirty
    || loginForm.controls['password'].touched)">
        <label for="float-input">Password is required.</label>
      </div>

    <div class="ui-g-12">
      <p-button label="Log In" (onClick)="validateLogin()" [disabled]="loginDisabled"></p-button>
      <p-button class="ui-button-secondary register-margin" label="Cancel" (onClick)="closeModal()"></p-button>
      <div *ngIf="this.loginToken === false && !this.loginDisabled">
        <p>Incorrect username or password.</p>
      </div>
      <div *ngIf="this.loginDisabled">
        <p>You entered incorrect credentials too many times. You will now be unable to login.</p>
      </div>
    </div>
   </div>
  </div>
  </form>
  <div class="ui-g-12">
    <label>New to Reddit?</label>
    <div class="link" (click)="this.toggleToRegister()">Register</div>
  </div>

</p-dialog>
