<p-dialog
  [(visible)]="this.showLoginModal"
  modal="modal"
  width="600"
  height="250"
  [showHeader]="true"
  [responsive]="true"
  [closeOnEscape]="false"
  [closable]="true"
  [resizable]="false"
  [draggable]="true"
  (onHide)="closeModal()"
>

  <h3 class="header-margin">Welcome! Log in to your account.</h3>

  <div class="ui-g-6">
<!--    <p class="text-margin login-align">Login via Facebook</p>-->
    <div *ngIf="!givenName" class="login-align">
      <a (click)="login()">
        <img class="facebook-icon" src="../../assets/LoginWithFacebook.png" alt="Facebook">
      </a>
    </div>
  </div>

<!--  logIn onClick logic -->
  <div class="ui-g-6">
    <div class="ui-g-12">
      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText>
        <label for="float-input">Username</label>
      </span>
    </div>

    <div class="ui-g-12">
      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText>
        <label for="float-input">Password</label>
      </span>
    </div>

    <div class="ui-g-12">
      <p-button label="Log In" (onClick)="validateLogin()"></p-button>
      <p-button class="ui-button-secondary register-margin" label="Cancel" (onClick)="closeModal()"></p-button>
      <div *ngIf="isInvalid()">
        <p>Incorrect username or password.</p>
      </div>
    </div>
  </div>

</p-dialog>
