<p-dialog
  [(visible)]="this.showLoginModal"
  modal="modal"
  width="500"
  height="300"
  [showHeader]="true"
  [responsive]="true"
  [closeOnEscape]="false"
  [closable]="true"
  [resizable]="false"
  [draggable]="true"
  (onHide)="closeModal()"
>

  <h3>Welcome! Log in to your account.</h3>

  <div class="ui-g-4">
<!--    <div *ngIf="givenName">-->
<!--      <h2>Welcome, {{givenName}}!</h2>-->
<!--      <p-button label="Log out" (onClick)="logout()"></p-button>-->
<!--      <p><a routerLink="/search" routerLinkActive="active">Search</a></p>-->
<!--    </div>-->
    <p class="text-margin">Login via Facebook</p>
    <div *ngIf="!givenName" class="login-align">
      <img class="facebook-icon" src="../../assets/facebook.png" alt="Facebook">
<!--      <p-button label="Log In" (onClick)="login()"></p-button>-->
    </div>
  </div>

<!--  logIn onClick logic -->
  <div class="ui-g-8 login-align">
    <div class="ui-g-12">
      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText>
        <label for="float-input">Username</label>
      </span>
    </div>

    <div class="ui-g-12">
      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText>
        <label for="float-input">Password</label>
      </span>
    </div>

    <p-button label="Log In" (onClick)="validateLogin()"></p-button>
    <p-button class="ui-button-secondary register-margin" label="Cancel" (onClick)="closeModal()"></p-button>
    <div *ngIf="isInvalid()">
      <p>Incorrect username or password.</p>
    </div>
  </div>

</p-dialog>
